<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Medisina</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sidebar-styles.css') }}">
    <script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>


</head>

<body>

    <div class="main-container">
        <!-- Side Panel section-->
        <div class="sidebar border border-end" id="mySidebar">
            <!-- <div class="close-button">X</div> -->
            <div id="sidebarlogo" class=" d-flex  align-items-center ps-2 pt-2 ">
                <button class="btn ms-1 me-2 " type="button" onclick="toggleNav()"><i
                        class="bi h5 bi-x-lg"></i></button>
            </div>
            <div class="side-panel-wrapper  pe-3 ps-3 ">
                <div class="recent-chat-wrapper ">
                    <div class=" d-flex   p-0">
                        <div class="w-100  pt-2 pb-2 ps-1">
                            <span class="">Recents</span>

                        </div>
                        <div class="item pt-2 pb-2 text-center newchat-btn" data-bs-toggle="dropdown"
                            style="width: 50px;">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                    </div>

                    <div class="chat-history d-flex scroll  w-100 flex-column small  overflow-auto"
                        style="height: 70vh;">
                        {% for data in data %}

                        <div class="chat-topic d-flex   p-0">
                            <div class="w-100  pt-2 pb-2 ps-2 text-truncate">
                                <span class="chat-topic-content" data-chatID="{{data.id}}"><i
                                        class="bi bi-chat"></i>&emsp;{{data.to_dict()['title']}}</span>

                            </div>
                            <div class="dropdown p-0">
                                <div class="pt-2 pb-2 text-center" data-bs-toggle="dropdown" style="width: 50px;">
                                    <i class="bi bi-three-dots"></i>
                                </div>
                                <ul class="dropdown-menu  ">
                                    <li><a class="dropdown-item small w-100" href="/chat/delete/{{data.id}}/">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="sidebar-item small">
                    <p class="item m-0 p-2" onclick="show('help')"><i class="bi bi-question-circle-fill me-3"></i>Help
                    </p>
                    <p class="item m-0 p-2" onclick="show('settings')"><i class="bi bi-gear-fill me-3"></i>Settings</p>

                </div>
            </div>

        </div>

        <div class="sidebar text-dark collapse">


            <div class="text-dark">

            </div>
        </div>

        <div id="main" class="w-100" style="height: 100vh;">
            <nav class="navbar  navbar-expand-md navbar-light fw-bold sticky-top  bg-white " id="nav">
                <div class="container-fluid">
                    <div class="d-flex w-100 align-items-center ">
                        <button class="btn   " id="opnbtn" type="button" onclick="toggleNav()"><i
                                class="bi h5 bi-list"></i></button>

                        <a href="#" class="navbar-brand ms-3 ">
                            <div class="d-flex align-items-end">
                                <h2 class="fs-3" style="font-weight: 550;"> <span style="color:#494949;">AI</span><span
                                        style="color:#9b9b9b;">-</span><span class="gradient-text">Medisina</span>
                                </h2>
                            </div>
                        </a>
                        <div class="dropdown w-100 ">

                            <button class="btn float-end border bg-light p-1 rounded-circle toggle me-2" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="rounded-circle w-100 m-0"
                                    src="{{ url_for('static',filename='/img/user.png') }}" alt="">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end round" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item small" href="/logout">Logout</a></li>
                            </ul>

                        </div>


                    </div>

                </div>
            </nav>

            <!-- Content -->

            <div class="con d-flex flex-column  justify-content-center " id="chat">
                <div class="overflow-auto scroll d-flex  justify-content-center align-items-top" id="chat-scroll"
                    style="height: 90vh;">
                    <div class="col-sm-8 ">

                        <div class="chat-section  p-2">
                            <div class="chat-box-wrapper ">
                                <div id="welcome-message" style="height: 70vh;">
                                    <div class="border  rounded-circle d-flex align-items-center justify-content-center"
                                        style="width: 80px; height: 80px;">
                                        <img src="{{ url_for('static',filename='/img/logo.png') }}" width="70px" alt=""
                                            srcset="">
                                    </div>
                                    <br>
                                    <p class=" h2">Hi there👋 how can I help you?</p>
                                    <span class="small"></span>
                                </div>

                                <div class="box">
                                    <div id="chat-box-container" class="content-box">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" bottom-aligned w-100 d-flex justify-content-center me-2">
                        <div class="bg-white d-flex flex-column text-center  col-sm-8 col-12 ps-2 pe-2">
                            <center>
                                <div
                                    class="sender-input-field shadow-sm bg-light border col-sm-10 rounded-pill d-flex ">
                                    <input type="text" name="query" id="sender-query" placeholder="Type here..."
                                        value="">
                                    <button class="btn sender-btn  rounded-pill"><img
                                            src="{{ url_for('static',filename='/img/send.svg') }}" alt=""></button>
                                </div>
                            </center>
                            <div>
                                <span class="fw-normal text-secondary" style="font-size: 9pt;">AI-Medisina can make
                                    mistakes. Consider checking important information.</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="con d-flex flex-column d-none  justify-content-center " id="help">
                <div class="overflow-auto d-flex  justify-content-center align-items-top " style="height: 90vh;">
                    <div class="row  justify-content-center " style="height: 90vh;width: 100%;">

                        <div class="col-sm-8">
                            <p class=" h2 "><span class="item ps-3 pe-3 me-3 small" onclick="show('chat')"><i
                                        class="bi bi-arrow-left"></i></span>Help</p>

                            <div class="border rounded bg-white mt-4 p-4">
                                <p class="text-dark">Lorem ipsum dolor sit amet. Eos quia quisquam aut alias
                                    consequatur eum
                                    reprehenderit ipsam in galisum autem. Qui animi Quis sed cupiditate suscipit
                                    ex placeat
                                    perferendis qui deleniti sint?
                                </p>
                                <br>
                                <div class="d-flex">
                                    <img src="{{ url_for('static',filename='/img/mail.svg') }}" width="30"
                                        alt="">&emsp;<span>aimedisina123@gmail.com</span>
                                </div>
                                <div class="d-fle mt-3">
                                    <img src="{{ url_for('static',filename='/img/fb.svg') }}" width="30"
                                        alt="">&emsp;<span>aimedisina123@gmail.com</span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="con d-flex flex-column d-none  justify-content-center " id="settings">
                <div class="overflow-auto d-flex  justify-content-center align-items-top " style="height: 90vh;">
                    <div class="row  justify-content-center " style="height: 90vh;width: 100%;">

                        <div class="col-sm-8">
                            <p class="h2  ">
                                <span class="item ps-3 pe-3 me-3 small" onclick="show('chat')"><i
                                        class="bi bi-arrow-left"></i></span>Settings
                            </p>
                            <p class="small h5 mt-4">Option</p>
                            <div class="border rounded bg-white  p-4">
                                <div class="d-flex align-items-center">
                                    <div class="w-100">
                                        <span>Dark Mode</span>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>

                                </div>

                            </div>
                            <p class="small h5 mt-4">Account Settings</p>
                            <div class="border rounded bg-white  p-4">
                                <div class="d-flex align-items-center">
                                    <div class="w-100">
                                        <span>Password</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-danger mt-2 small">Change</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</body>

</html>


<script>
    window.onload = function () {
        // Parse the URL parameters
        var urlParams = new URLSearchParams(window.location.search);
        var pageName = urlParams.get('content');

        // Show the div based on the content parameter
        if (pageName) {
            show(pageName);
        }
    }
    function show(pageName) {
        // Hide all divs
        sidebarItemClick();
        var divs = document.getElementsByClassName("con");
        for (var i = 0; i < divs.length; i++) {
            divs[i].classList.add('d-none');
        }

        // Show the selected div based on page name
        var divToShow = document.getElementById(pageName);
        if (divToShow) {
            divToShow.classList.remove('d-none');

            // Update the URL without reloading the page
            var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?content=" + pageName;
            window.history.pushState({ path: url }, '', url);
        } else {
            console.error("Div with id " + pageName + " not found.");
        }
    }
    const senderBtn = document.querySelector('.sender-btn')
    const senderQuery = document.querySelector('#sender-query')
    const chatBox = document.querySelector('#chat-box-container')
    let activeChatTitle = "New chat"

    let activeTopicID = ''
    let chatID = 0


    senderQuery.addEventListener("keydown", async function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevent default form submission behavior
            sendFn();
        }
    });
    senderBtn.addEventListener('click', async function () {
        sendFn();
    });

    async function sendFn() {

        if (activeTopicID == '') {
            try {
                await newChatGenerate();
                queryAPI();
            } catch (error) {
                console.error("Error occurred:", error);
            }
        } else {
            queryAPI();
        }
        senderQuery.value = "";
        var scrollableDiv = document.getElementById("chat-scroll");
        scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
    }



    function queryAPI() {
        console.log(activeTopicID + 'sssssssssssssssss');
        document.querySelector('#welcome-message').style.display = 'none'
        chatContent = "chatID" + chatID;

        let senderContainer = document.createElement('div');
        senderContainer.innerHTML =
            '<div class="sender-promt chat-information " style="width: 95vw;">' +
            '<div class="sender-info chat-profile">' +
            '<div class="border  rounded-circle d-flex align-items-center justify-content-center"' +
            'style="width: 30px; height: 30px;">' +
            '<img class="rounded-circle" src="{{ url_for("static",filename="/img/user.png") }}" width="20px" alt=""' +
            'srcset="">' +
            '</div>' +
            '<p class="ms-3 h5 pt-2">You</p>' +
            '</div>' +
            '<div class="sender-text   chat-content">' + senderQuery.value + '</div>' +
            '</div>';

        let sender = senderContainer.firstChild;
        chatBox.appendChild(sender);

        let responseContainer = document.createElement('div');
        responseContainer.innerHTML =
            '<div class="response-promt chat-information  ms-2 me-2" style="width: 95vw;">' +
            '<div class="response-info chat-profile  ">' +
            '<div class="border   rounded-circle d-flex align-items-center justify-content-center"' +
            'style="width: 30px; height: 30px;">' +
            '<img src="{{ url_for("static",filename="/img/logo.png") }}" width="25px" alt=""' +
            'srcset="">' +
            '</div>' +
            '<p class="ms-3 h5 pt-2">AI-Medisina </p>' +
            '</div>' +
            '<div class="response-text    chat-content"><div id="' + chatContent + '" class="loader" > <span class="dot-1">•</span><span class="dot-2">•</span><span class="dot-3">•</span><div></div>' +
            '</div>';


        let response = responseContainer.firstChild;
        chatBox.appendChild(response);

        axios.post('/get', {
            query: senderQuery.value,
            chatRoomID: activeTopicID,
            topicTitle: activeChatTitle
        }).then(function (data) {
            console.log(data);
            chatID = chatID + 1
            senderQuery.value = ''

            chatContent = document.querySelector('#' + chatContent)
            chatContent.classList.remove('loader')


            if (activeChatTitle.trim() == 'New chat') {
                newChatBox = document.querySelector('.chat-active')
                newChatBox.classList.add('d-flex')
                newChatBox.classList.add('p-0')
                newChatBox.innerHTML = '' +
                    '<div class="w-100  pt-2 pb-2 ps-2 text-truncate"> ' +
                    '<span class="chat-topic-content"  data-chatID="{{data.id}}"><i class="bi bi-chat"></i>&emsp;' + data.data['title'] + '</span>' +
                    '</div>' +
                    '<div class="dropdown p-0">' +
                    '    <div class="pt-2 pb-2  text-center" data-bs-toggle="dropdown" style="width: 50px;">' +
                    '       <i class="bi bi-three-dots"></i>' +
                    '   </div>' +
                    '   <ul class="dropdown-menu  ">' +
                    '    <li>' +
                    '       <a class="dropdown-item small w-100" href="/chat/delete/{{data.id}}/">Delete</a>' +
                    '    </li>' +
                    '   </ul>' +
                    '</div>'
            }

            // Function to simulate typing animation
            function typeWriter(text, i, fnCallback) {
                if (i < (text.length)) {
                    // Adding a character at a time
                    chatContent.innerHTML = formatTransmission(text.substring(0, i + 1)) + '<span aria-hidden="true"></span>';
                    // Wait for a while before calling this function again
                    setTimeout(function () {
                        typeWriter(text, i + 1, fnCallback)
                        var scrollableDiv = document.getElementById("chat-scroll");
                        scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
                    }, 3);
                } else if (typeof fnCallback == 'function') {
                    setTimeout(fnCallback, 700);
                }
            }

            // Start the typing animation for the response
            function startTextAnimation(i) {
                if (typeof data.data['response'] === 'undefined' || i >= data.data['response'].length) {
                    return;
                }

                // Typing animation
                typeWriter(data.data['response'], 0, function () {
                    // Callback after typing animation finishes
                });
            }

            // Start typing animation
            startTextAnimation(0);

        }).catch(function (error) {
            console.log(error);
        });

    }

    //Side Panel Chats
    let newChatBtn = document.querySelector('.newchat-btn')
    let chatHistory = document.querySelector('.chat-history')
    let chatTopic = document.querySelectorAll('.chat-topic');

    //Attach listener to all chatbox
    chatTopic.forEach(function (box) {
        box.addEventListener('click', function (element) {
            let selected = element.target
            if (!(selected.classList.contains('chat-topic'))) {
                selected = selected.closest('.chat-topic')
            }
            show('chat');

            selectChatActive(selected)
        })

    })


    //Click new chat
    newChatBtn.addEventListener('click', newChatGenerate)


    async function newChatGenerate() {
        show('chat');
        let messageBox = document.querySelector('#welcome-message') ? document.querySelector('#welcome-message') : null;
        let topicBoxContainer = document.createElement('div');

        if (messageBox != null) {
            messageBox.style.display = 'flex';
        }

        chatBox.innerHTML = '';
        sidebarItemClick();

        chatTopic.forEach(function (e) {
            e.classList.remove('chat-active');
        });

        topicBoxContainer.classList.add('chat-active');
        topicBoxContainer.classList.add('chat-topic');
        topicBoxContainer.classList.add('d-flex');
        topicBoxContainer.classList.add('p-0');

        try {
            const response = await axios.post('/create/chatroom', []);
            activeTopicID = response.data['id'];
            console.log(activeTopicID);
            topicBoxContainer.innerHTML = `
            <div class="w-100 pt-2 pb-2 ps-2">
                <span class="chat-topic-content" data-chatID="${response.data['id']}"><i class="bi bi-chat"></i>&emsp;New chat</span>
            </div>
            
        `;
            chatHistory.insertBefore(topicBoxContainer, chatHistory.firstChild);

            chatTopic = document.querySelectorAll('.chat-topic');
            chatTopic.forEach(function (box) {
                box.addEventListener('click', function (element) {
                    let selected = element.target
                    if (!(selected.classList.contains('chat-topic'))) {
                        selected = selected.closest('.chat-topic')
                    }

                    selectChatActive(selected)
                })
            });

        } catch (error) {
            console.log(error);
            throw error; // Rethrow the error
        }
    }


    function sidebarItemClick(){
        if (window.innerWidth >= 867) {
            if (!largeScreen) {
                openNav();
            }
        } else if (window.innerWidth >= 1090) {
            if (!largeScreen) {
                openNav();
            }
        } else {
            closeNav();
        }
    }
    function selectChatActive(element) {
        let messageBox = document.querySelector('#welcome-message') ? document.querySelector('#welcome-message') : null;
        (messageBox != null) ? messageBox.style.display = 'none' : '';

        chatTopic.forEach(function (e) {
            e.classList.remove('chat-active')
        })

        element.classList.add('chat-active')
        sidebarItemClick();
        activeTopicID = element.querySelector('.chat-topic-content').getAttribute('data-chatID')
        activeChatTitle = document.querySelector('.chat-active .chat-topic-content').textContent

        axios.post('/get/topic', {
            chatRoomID: activeTopicID
        }).then(function (response) {
            let chatList = response.data

            if (chatList.length !== 0) {
                chatBox.innerHTML = '';

                chatList.forEach(function (chat, index) {
                    chatID = chatID + 1
                    let senderContainer = document.createElement('div');
                    senderContainer.innerHTML =
                        '<div class="sender-promt chat-information">' +
                        '<div class="sender-info chat-profile">' +
                        '<div class="border  rounded-circle d-flex align-items-center justify-content-center"' +
                        'style="width: 30px; height: 30px;">' +
                        '<img class="rounded-circle" src="{{ url_for("static",filename="/img/user.png") }}" width="20px" alt=""' +
                        'srcset="">' +
                        '</div>' +
                        '<p class="ms-3 h5 pt-2">You</p>' +
                        '</div>' +
                        '<div class="sender-text   chat-content">' + chat['sender'] + '</div>' +
                        '</div>';

                    let sender = senderContainer.firstChild;
                    chatBox.appendChild(sender);

                    let responseContainer = document.createElement('div');
                    responseContainer.innerHTML =
                        '<div class="response-promt chat-information">' +
                        '<div class="response-info chat-profile">' +
                        '<div class="border  rounded-circle d-flex align-items-center justify-content-center"' +
                        'style="width: 30px; height: 30px;">' +
                        '<img src="{{ url_for("static",filename="/img/logo.png") }}" width="25px" alt=""' +
                        'srcset="">' +
                        '</div>' +
                        '<p class="ms-3 h5 pt-2">AI-Medisina</p>' +
                        '</div>' +
                        '<div class="response-text   chat-content"><div id="chatID' + index + '">' + formatTransmission(chat['response']) + '<div></div>' +
                        '</div>';

                    let response = responseContainer.firstChild;

                    chatBox.appendChild(response);

                })
            } else {
                chatBox.innerHTML = '';
                let messageBox = document.querySelector('#welcome-message') ? document.querySelector('#welcome-message') : null;
                (messageBox != null) ? messageBox.style.display = 'flex' : '';

            }
        }).catch(function (error) {
            console.log(error);
        });
    }



    function formatTransmission(responseString) {
        var lines = responseString.split('\n');
        var html = '';

        lines.forEach(function (line, index, array) {

            if (line.substring(0, 2) == '**') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\*\*(.*?)\*\*/g, '$1').trim();


                if (line.includes(':')) {
                    if (indexOfCol == line.length + 1) {
                        html += '<br><p><strong>' + line + '</strong></p>';
                    } else {
                        html += '<p style="margin-top:10px">' + line + '</p>';
                    }
                } else {
                    html += '<p><strong style="margin-top:10px">' + line + '</strong></p>';
                }

            } else if (line.substring(0, 4) == '* **') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\* \*\*(.*?)\*\*/g, '$1').trim();
                html += '<ul style="margin-left:20px"><li>' + line + '</li></ul>';

            } else if (line.substring(0, 8) == '    * **') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\* \*\*(.*?)\*\*/g, '$1').trim();
                html += '<ul style="margin-left:40px"><li>' + line + '</li></ul>';

            } else if (line.substring(0, 9) == '        *') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\* \*\*(.*?)\*\*/g, '$1').trim();
                html += '<p style="margin-left:50px">- ' + line.trim().substring(2) + '</p>';

            } else if (line == '') {
                html += '<br>';
            } else {
                html += '<p> ' + line.trim() + '</p> ';
            }
        });

        return html;
    }


</script>