<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Medisina</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sidebar-styles.css') }}">
    <script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>


</head>

<body>

    <div class="main-container">
        <!-- Side Panel section-->
        <div class="sidebar" id="mySidebar">
            <!-- <div class="close-button">X</div> -->
            <div id="sidebarlogo" class=" d-flex  align-items-center ps-2 pt-2 ">
                <button class="btn ms-1 me-2 " type="button" onclick="toggleNav()"><i
                        class="bi h5 bi-x-lg"></i></button>
            </div>
            <div class="side-panel-wrapper pe-3 ps-3">
                <div clss="recent-chat-wrapper">

                    <div class="d-flex align-items-center w-100">

                        <div class="w-100">
                            <span class="item-list">Recents</span>
                        </div>
                        <div class="newchat-btn ">
                            <i class="bi bi-plus-lg"></i>
                        </div>
                    </div>
                    <div class="chat-history d-flex  w-100 flex-column small ">
                        {% for data in data %}

                        <div class="chat-topic d-flex   p-0">
                            <div class="w-100  pt-2 pb-2 ps-2">
                                <span class="chat-topic-content"
                                    data-chatID="{{data.id}}">{{data.to_dict()['title']}}</span>

                            </div>
                            <div class="dropdown p-0">
                                <div class="pt-2 pb-2 text-center" data-bs-toggle="dropdown" style="width: 50px;">
                                    <i class="bi bi-three-dots"></i>
                                </div>
                                <ul class="dropdown-menu  ">
                                    <li><a class="dropdown-item small w-100" href="/chat/delete/{{data.id}}/">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="navigation-item">
                    <p class="item-list">Help </p>
                    <p class="item-list">Settings </p>
                </div>
            </div>
        </div>
        <div class="sidebar text-dark collapse">


            <div class="text-dark">

            </div>
        </div>

        <div id="main" class="w-100" style="height: 100vg;">
            <nav class="navbar  navbar-expand-md navbar-light fw-bold sticky-top   " id="nav">
                <div class="container-fluid">
                    <div class="d-flex w-100 align-items-center ">
                        <button class="btn   " id="opnbtn" type="button" onclick="toggleNav()"><i
                                class="bi h5 bi-list"></i></button>

                        <a href="#" class="navbar-brand ms-3 ">
                            <div class="d-flex align-items-end">
                                <h2 class="fs-3" style="font-weight: 550;"> <span style="color:#494949;">AI</span><span
                                        style="color:#9b9b9b;">-</span><span style="color:#0283a2;">Medisina</span>
                                </h2>
                            </div>
                        </a>
                        <div class="dropdown w-100 ">

                            <button class="btn float-end border bg-light p-2 rounded-circle toggle me-2" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img class="rounded-circle w-100 m-0"
                                    src="{{ url_for('static',filename='/img/user.png') }}" alt="">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end round" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item small" href="/logout">Logout</a></li>
                            </ul>

                        </div>


                    </div>

                </div>
            </nav>



            <div class="con d-flex flex-column   justify-content-center ">
                <div class="overflow-auto d-flex  justify-content-center align-items-top" style="height: 90vh;">
                    <div class="col-sm-8 ">
                        <!-- Content -->
                        <div class="chat-section  p-2">
                            <div class="chat-box-wrapper ">
                                <div id="welcome-message" style="height: 90vh;">
                                    <p class=" h2">Hi there👋 how can I help you?</p>
                                    <span class="small"></span>
                                </div>

                                <div class="box">
                                    <div id="chat-box-container" class="content-box">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-aligned w-100 d-flex justify-content-center pb-sm-4 pb-2">
                        <div class="sender-input-field shadow-sm bg-light border rounded-pill d-flex col-sm-6 col-11">
                            <input type="text" name="query" id="sender-query" value="">
                            <button class="btn sender-btn  rounded-pill"><img
                                    src="{{ url_for('static',filename='/img/send.svg') }}" alt=""></button>
                        </div>
                    </div>
                </div>

            </div>



            <!-- Main Section -->

        </div>
    </div>
</body>

</html>


<script>
    const senderBtn = document.querySelector('.sender-btn')
    const senderQuery = document.querySelector('#sender-query')
    const chatBox = document.querySelector('#chat-box-container')
    let activeChatTitle = "New chat"

    let activeTopicID = ''
    let chatID = 0

    senderBtn.addEventListener('click', async function () {
        if (activeTopicID == '') {
            try {
                await newChatGenerate();
                queryAPI();
            } catch (error) {
                console.error("Error occurred:", error);
            }
        } else {
            queryAPI();
        }
    });



    function queryAPI() {
        console.log(activeTopicID + 'sssssssssssssssss');
        document.querySelector('#welcome-message').style.display = 'none'
        chatContent = "chatID" + chatID;
        let senderContainer = document.createElement('div');
        senderContainer.innerHTML =
            '<div class="sender-promt chat-information">' +
            '<div class="sender-info chat-profile">' +
            '<div class="profile-pic"></div>' +
            '<p class="h5 pt-2">You</p>' +
            '</div>' +
            '<div class="sender-text chat-content">' + senderQuery.value + '</div>' +
            '</div>';

        let sender = senderContainer.firstChild;
        chatBox.appendChild(sender);

        let responseContainer = document.createElement('div');
        responseContainer.innerHTML =
            '<div class="response-promt chat-information">' +
            '<div class="response-info chat-profile">' +
            '<div class="profile-pic"></div>' +
            '<p class="h5 pt-2">AI</p>' +
            '</div>' +
            '<div class="response-text chat-content"><div id="' + chatContent + '" class="loader"> <span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span><div></div>' +
            '</div>';

        let response = responseContainer.firstChild;
        chatBox.appendChild(response);

        axios.post('/get', {
            query: senderQuery.value,
            chatRoomID: activeTopicID,
            topicTitle: activeChatTitle
        }).then(function (data) {
            console.log(data);
            chatID = chatID + 1
            senderQuery.value = ''

            chatContent = document.querySelector('#' + chatContent)
            chatContent.classList.remove('loader')


            if (activeChatTitle.trim() == 'New chat') {
                newChatBox = document.querySelector('.chat-active')
                newChatBox.classList.add('d-flex')
                newChatBox.classList.add('p-0')
                newChatBox.innerHTML = '' +
                    '<div class="w-100  pt-2 pb-2 ps-2">' +
                    '   <span class="chat-topic-content"' +
                    '        data-chatID="{{data.id}}">' + data.data['title'] +
                    '   </span>' +
                    '</div>' +
                    '    <div class="pt-2 pb-2 text-center" style="width: 50px;">' +
                    '        <i class="bi bi-three-dots"></i>' +
                    '    </div>'

            }
            chatContent.innerHTML = formatTransmission(data.data['response'])
        }).catch(function (error) {
            console.log(error);
        });
    }

    //Side Panel Chats
    let newChatBtn = document.querySelector('.newchat-btn')
    let chatHistory = document.querySelector('.chat-history')
    let chatTopic = document.querySelectorAll('.chat-topic');

    //Attach listener to all chatbox
    chatTopic.forEach(function (box) {
        box.addEventListener('click', function (element) {
            let selected = element.target
            if (!(selected.classList.contains('chat-topic'))) {
                selected = selected.closest('.chat-topic')
            }

            selectChatActive(selected)
        })

    })


    //Click new chat
    newChatBtn.addEventListener('click', newChatGenerate)


    async function newChatGenerate() {
        let messageBox = document.querySelector('#welcome-message') ? document.querySelector('#welcome-message') : null;
        let topicBoxContainer = document.createElement('div');

        if (messageBox != null) {
            messageBox.style.display = 'flex';
        }

        chatBox.innerHTML = '';

        chatTopic.forEach(function (e) {
            e.classList.remove('chat-active');
        });

        topicBoxContainer.classList.add('chat-active');
        topicBoxContainer.classList.add('chat-topic');
        topicBoxContainer.classList.add('d-flex');
        topicBoxContainer.classList.add('p-0');

        try {
            const response = await axios.post('/create/chatroom', []);
            activeTopicID = response.data['id'];
            console.log(activeTopicID);
            topicBoxContainer.innerHTML = `
            <div class="w-100 pt-2 pb-2 ps-2">
                <span class="chat-topic-content" data-chatID="${response.data['id']}">New chat</span>
            </div>
            <div class="pt-2 pb-2 text-center" style="width: 50px;">
                <i class="bi bi-three-dots"></i>
            </div>
        `;
            chatHistory.insertBefore(topicBoxContainer, chatHistory.firstChild);

            chatTopic = document.querySelectorAll('.chat-topic');
            chatTopic.forEach(function (box) {
                box.addEventListener('click', function (element) {
                    let selected = element.target
                    if (!(selected.classList.contains('chat-topic'))) {
                        selected = selected.closest('.chat-topic')
                    }

                    selectChatActive(selected)
                })
            });

        } catch (error) {
            console.log(error);
            throw error; // Rethrow the error
        }
    }

    function selectChatActive(element) {
        let messageBox = document.querySelector('#welcome-message') ? document.querySelector('#welcome-message') : null;
        (messageBox != null) ? messageBox.style.display = 'none' : '';

        chatTopic.forEach(function (e) {
            e.classList.remove('chat-active')
        })

        element.classList.add('chat-active')
        activeTopicID = element.querySelector('.chat-topic-content').getAttribute('data-chatID')
        activeChatTitle = document.querySelector('.chat-active .chat-topic-content').textContent

        axios.post('/get/topic', {
            chatRoomID: activeTopicID
        }).then(function (response) {
            let chatList = response.data

            if (chatList.length !== 0) {
                chatBox.innerHTML = '';

                chatList.forEach(function (chat, index) {
                    chatID = chatID + 1
                    let senderContainer = document.createElement('div');
                    senderContainer.innerHTML =
                        '<div class="sender-promt chat-information">' +
                        '<div class="sender-info chat-profile">' +
                        '<div class="profile-pic"></div>' +
                        '<h4>You</h4>' +
                        '</div>' +
                        '<div class="sender-text chat-content">' + chat['sender'] + '</div>' +
                        '</div>';

                    let sender = senderContainer.firstChild;
                    chatBox.appendChild(sender);

                    let responseContainer = document.createElement('div');
                    responseContainer.innerHTML =
                        '<div class="response-promt chat-information">' +
                        '<div class="response-info chat-profile">' +
                        '<div class="profile-pic"></div>' +
                        '<h4>AI</h4>' +
                        '</div>' +
                        '<div class="response-text chat-content"><div id="chatID' + index + '">' + formatTransmission(chat['response']) + '<div></div>' +
                        '</div>';

                    let response = responseContainer.firstChild;

                    chatBox.appendChild(response);

                })
            } else {
                chatBox.innerHTML = '';
                let messageBox = document.querySelector('#welcome-message') ? document.querySelector('#welcome-message') : null;
                (messageBox != null) ? messageBox.style.display = 'flex' : '';

            }
        }).catch(function (error) {
            console.log(error);
        });
    }



    function formatTransmission(responseString) {
        var lines = responseString.split('\n');
        var html = '';

        lines.forEach(function (line, index, array) {

            if (line.substring(0, 2) == '**') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\*\*(.*?)\*\*/g, '$1').trim();


                if (line.includes(':')) {
                    if (indexOfCol == line.length + 1) {
                        html += '<br><p><strong>' + line + '</strong></p>';
                    } else {
                        html += '<p style="margin-top:10px">' + line + '</p>';
                    }
                } else {
                    html += '<p><strong style="margin-top:10px">' + line + '</strong></p>';
                }

            } else if (line.substring(0, 4) == '* **') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\* \*\*(.*?)\*\*/g, '$1').trim();
                html += '<ul style="margin-left:20px"><li>' + line + '</li></ul>';

            } else if (line.substring(0, 8) == '    * **') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\* \*\*(.*?)\*\*/g, '$1').trim();
                html += '<ul style="margin-left:40px"><li>' + line + '</li></ul>';

            } else if (line.substring(0, 9) == '        *') {
                let indexOfCol = line.indexOf(':');
                line = line.replace(/\* \*\*(.*?)\*\*/g, '$1').trim();
                html += '<p style="margin-left:50px">- ' + line.trim().substring(2) + '</p>';

            } else if (line == '') {
                html += '<br>';
            } else {
                html += '<p> ' + line.trim() + '</p> ';
            }
        });

        return html;
    }


</script>