@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family-primary: 'Poppins', sans-serif;
    /* Colors */
    --color-primary: #dbeaf0;
    --color-secondary: #c0c0c0;
    --color-white: rgb(255, 255, 255);
    --color-grey: #F2F3F7;
    --color-red: #B20404;
    --color-yellow: #D99E2C;


    --bg-color: #0b344f;
    --bg-gray: #c5c5c5;
    --bg-colorLight: #076d8f;
    /* --bg-colorFade: #eff8fb; */
    --bg-colorFadeSecondary: #eaf3f5;
}


p,
input {
    color: rgb(70, 69, 69);
}

.item-list {
    color: rgb(71, 69, 69);
    font-weight: 500;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: var(--font-family-primary);
    
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}


/* ------------------ SIDE PANEL SECTION ------------------ */
.side-panel-section {
    height: 100%;
    min-width: 300px;
    background-color: var(--color-primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nav-hide {
    width: 50px;
    transition: width 1s;
}

.side-panel-wrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

/* Close panel button  */
.user-btn {
    height: auto;
    width: auto;

}

.toggle {
    height: 35px;
    width: 35px;

}

.close-button {
    font-size: 30px;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;

}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 0px solid #fff;
}


.scroll::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.scroll::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

/* .chat-history div, */
/* .new-chat {
    display: flex;
    width: 100%;
    
    align-items: center;
} */

/* New chat  */
.new-chat {
    margin-bottom: 20px
}

.new-chat .newchat-btn {
    background-color: rgb(214, 213, 213);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 18px;

}

/* History Box  */
.chat-history div {
    border-radius: 20px;
}

.chat-active {
    
background-color: var(--item-text-bg-active);
    border-radius: 100px;

    color: white;
}

.chat-active p {
    color: white;
}

.history-dots {
    font-size: 20px;
}


/* ------------------ MAIN COTENT SECTION------------------ */


#welcome-message {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content-box {
    padding-bottom: 80px;
    width: 100%;
}

.content-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-y: auto;


}

.con {
    height: 90vh;
    /* Just for demonstration, adjust according to your layout */
    /* border: 0px solid #ccc; Just for demonstration */
    position: relative;
    /* Needed for absolutely positioned child */
}

.bottom-aligned {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Header section  */
.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgb(226, 226, 226);
}

/* Chat section  */
.chat-section {
    width: 100%;

    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rounded {
    border-radius: 20px !important;
}

.chat-information {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 20px;
}

.response-promt {
    background-color: var(--bg-colorFade);
    
}

.chat-profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.chat-profile .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    margin-right: 10px;
}

.chat-content {
    
}
.chat-content p{
    color: var(--text-color);
}

.sender-input-field {
    /* background-color: #efefef; */
    height: 50px;

}

.chat-topic:hover,
.item:hover {
    background-color: var(--item-text-bg);
    border-radius: 100px;
    color: var(--text-color);

}

.item {
    color: var(--text-color);

}

.sender-input-field input {
    border: none;
    background-color: transparent;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: var(--text-color);

}