@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

[data-bs-theme="dark"] {
    --bs-body-bg: #1a1a1a;
    --bs-input-bg: #212529;
    --box-bg: #1b1e1f;
    --bs-border-color: #2e343a;
    --bg-colorFade: #0d2932;
    --text-color: #e6e6e6;
    --item-text-bg: #2f3d43;
    --item-text-bg-active: #026982;
    
}


[data-bs-theme="light"] {
    --bs-body-bg: #fff;
    --bs-input-bg: #f8f9fa;
    --box-bg: #f8f9fa;
    --bs-border-color: #eaeaea;
    --bg-colorFade: #eff8fb;
    --text-color: #222222;
    --item-text-bg: #c2cfd4;
    --item-text-bg-active: #0283a2;

}

.bg-white{
    background-color: var(--bs-body-bg) !important;
}
.bg-light{
    background-color: var(--box-bg) !important;
}
:root {
    --bg-color: #0b344f;
    --bg-gray: #c5c5c5;
    --bg-colorLight: #076d8f;
    
    --bg-colorFadeSecondary: #eaf3f5;

}

body,
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
}

.rounded-md {
    border-radius: 20px;
}

.form-control {
    font-weight: 500 !important;
    border-radius: 10px;
    border-width: 1px;
    border-color: #D5DEE5;
    background-color: #f6f6f6;
}

.main {
    background-image: url('../img/bg.png');
    object-fit: contain;
    background-size: cover;

    height: 100vh;
    background-repeat: no-repeat;
}

.gradient-text {
    background-image: linear-gradient(to right, #01caf9, #01caf9, #077396, #0b344f, #0b344f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.bg-gray {
    background-color: var(--bg-gray);
}

.text-dark {
    color: #2d2d2d;
}

.bg-colorPrimary {
    background-color: var(--bg-color);
}

.bg-colorLightPrimary {
    background-color: var(--bg-colorLight);
}

.huge-text {
    font-size: calc(3.0rem + 3.0vw);
}

.large-text {
    font-size: calc(.95rem + 0.55vw);
}

.medium-text {
    font-size: calc(0.75rem + 0.5vw);

}

.dash {
    width: calc(3.0rem + 7.5vw);
    height: calc(.2rem + 0.20vw);
    margin-top: calc(.3rem + 0.20vw);
    ;
}

.logo {
    width: calc(1.0rem +1vw);

}

.bg-colorFadePrimary {
    background-color: var(--bg-colorFade);
}

.bg-colorFadeSecondary {
    background-color: var(--bg-colorFadeSecondary);
}

.text-colorPrimary {
    color: var(--bg-color);
}

.text-colorPrimaryLight {
    color: var(--bg-colorLight);
}

.vw-100 {
    width: 100vw;
}

.vh-100 {
    height: 100vh;
}


#nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.foot-link {
    color: #2d2d2d;
    text-decoration: none;
    margin: 10px 0px 0px 0px;
    font-size: 11pt;
}

.foot-link:hover {
    color: var(--bg-colorLight);

}